*{
    margin: 0;
    padding: 0;
}
/* body{
    padding: ;
} */

.login-form{
    padding: 50px;
}

.login-area{
    padding: 50px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}